---
import Layout from "../layouts/Layout.astro";
import HeaderTextBig from "../components/HeaderTextBig.astro";
import Input from '../components/Input.astro'
import TextArea from '../components/TextArea.astro'

const headerKariera = {
  h2: "Web designer remote",
};
const header_partners = {
  h2: "Nasi partnerzy",
  h3: "Doradzamy oraz dostarczamy najnowocześniejszy sprzęt laboratoryjny, oprogramowanie, akcesoria i odczynniki.",
};
---

<Layout title="Wakat - Web designer" isHome={false}>
  <section class="pt-20 lg:pt-36 pb-12 lg:pb-36">
    <div class="container wrapper max-w-[855px] mx-auto">
      <HeaderTextBig h2={headerKariera.h2} textColor="text-black" />
    </div>
  </section>
  <section class="border-b border-disabled py-8">
    <div class="container wrapper">
      <div class="flex flex-wrap items-center gap-2 md:gap-6 mx-auto justify-center inView slideUp">
        <div class="flex items-center gap-2 mb-6 md:mb-0">
          <span class="leading-[26px]">Status:</span>
          <span
            class="bg-green rounded-[200px] px-4 py-2 text-white leading-[26px] block max-w-max"
            >Otwarte</span
          >
        </div>
        <div class="mb-3 md:mb-0">
          <span class="text-black mr-2">Data rozpoczęcia:</span>
          <span class="text-grey">22.11.2024</span>
        </div>
        <div>
          <span class="text-black mr-2">Data zamknięcia:</span>
          <span class="text-grey">23.11.2024</span>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-28 pb-20 md:pb-40">
    <div class="container wrapper">
      <div class="max-w-[989px] mx-auto">
        <h3 class="mb-6">Opis stanowiska</h3>
        <p class="regular text-grey mb-12">
          W Medcoswiss Polska Sp. z o.o. szanujemy i doceniamy naszych
          pracowników. Dokładamy wszelkich starań, aby nagradzać osoby
          osiągające wysokie wyniki w pracy, które konsekwentnie przyczyniają
          się do ogólnego sukcesu firmy. Dbamy o rozwój naszych pracowników,
          oferujemy możliwość korzystania z wielu szkoleń i wspieramy w rozwoju
          osobistej ścieżki kariery. Zapraszamy do aplikowania!
        </p>
        <p class="big text-black mb-6">Oferta</p>
        <ul class="list-disc pl-6 text-grey text-xl leading-[32px] mb-12">
          <li>Morem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </li>
          <li>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos.
          </li>
        </ul>
        <p class="big text-black mb-6">Twój profil</p>
        <ul class="list-disc pl-6 text-grey text-xl leading-[32px] mb-12">
          <li>Morem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </li>
          <li>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos.
          </li>
        </ul>
        <p class="big text-black mb-6">Twoje obowiązki</p>
        <ul class="list-disc pl-6 text-grey text-xl leading-[32px] mb-12">
          <li>Morem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>
            Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
          </li>
          <li>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos.
          </li>
        </ul>
        <button class="btn primary dot modal-trigger inView slideUp" data-modal="recap-modal">Aplikuj na tę ofertę</button>

        <div class="modal recap-modal">
            <div class="modal__content">
                <button class="close-icon modal-close">
                    <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 20.5C2.5 25.1413 4.34374 29.5925 7.62563 32.8744C10.9075 36.1563 15.3587 38 20 38C24.6413 38 29.0925 36.1563 32.3744 32.8744C35.6563 29.5925 37.5 25.1413 37.5 20.5C37.5 15.8587 35.6563 11.4075 32.3744 8.12563C29.0925 4.84374 24.6413 3 20 3C15.3587 3 10.9075 4.84374 7.62563 8.12563C4.34374 11.4075 2.5 15.8587 2.5 20.5Z" stroke="#696464" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.333 27.1663L26.6663 13.833" stroke="#696464" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.6663 27.1663L13.333 13.833" stroke="#696464" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                    </button>
              <div  class="container wrapper  h-[80vh]  pt-16 pb-16 relative ">
                <div class=" h-full mx-auto overflow-auto scroller">
                  <h3 class="text-center mb-10">
                    Web designer remote
                  </h3>
                  <form
                id="contact-form"
                class="max-w-[516px] grid gap-4 contact-form  w-full mx-auto"
              >
                <Input
                  id="name"
                  type="text"
                  name="name"
                  placeholder="Imię i nazwisko"
                  label="Imię i nazwisko"
                />
                <Input
                  id="email"
                  type="email"
                  name="email"
                  placeholder="E-mail"
                  label="E-mail"
                />
                <TextArea
                  id="message"
                  name="messagr"
                  placeholder="Treść wiadomości"
                  label="Treść wiadomości"
                />
                
      
                <div class="checkbox">
                  <label class="flex  cursor-pointer">
                    <input
                      id="contactForm-agreement"
                      class="custom-checkbox mt-1"
                      name="agreement"
                      type="checkbox"
                    />
                    Yorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                  </label>
                </div>
                <div class="checkbox">
                    <label class="flex  cursor-pointer">
                      <input
                        id="contactForm-agreement"
                        class="custom-checkbox mt-1"
                        name="agreement"
                        type="checkbox"
                      />
                      Yorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                    </label>
                  </div>
                 
                <button type="button" class="btn primary w-full !max-w-full "
                  >Aplikuj na tę ofertę pracy</button
                >
              </form>
                  
                </div>
              </div>
            </div>
           
          </div>
      </div>
    </div>
  </section>
  <section class="relative pt-32 pb-40">
    <div class="!absolute inset-0 bg_product_gradient_1">
      <img
        src="/assets/images/product_bg.png"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="container wrapper relative z-10">
      <div
        class="flex flex-wrap lg:flex-nowrap items-center text-white gap-12 max-w-[1060px] mx-auto inView slideUp"
      >
        <svg
          class="min-w-[94px]"
          width="95"
          height="100"
          viewBox="0 0 95 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.83619 47.8945C3.95841 47.8945 0 51.6676 0 56.317C0 60.9664 3.95841 64.7394 8.83619 64.7394C13.714 64.7394 17.6724 60.9664 17.6724 56.317C17.6724 51.6676 13.714 47.8945 8.83619 47.8945Z"
            fill="white"></path>
          <path
            d="M85.2062 47.8945C80.3285 47.8945 76.3701 51.6676 76.3701 56.317C76.3701 60.9664 80.3285 64.7394 85.2062 64.7394C90.084 64.7394 94.0424 60.9664 94.0424 56.317C94.0424 51.6676 90.084 47.8945 85.2062 47.8945Z"
            fill="white"></path>
          <path
            d="M47.3322 82.7876C42.4568 82.7876 38.5002 86.5607 38.5002 91.21C38.5002 95.8594 42.4568 99.6325 47.3322 99.6325C52.2076 99.6325 56.1726 95.8594 56.1726 91.21C56.1726 86.5607 52.2161 82.7876 47.3322 82.7876Z"
            fill="white"></path>
          <path
            d="M71.0112 34.8561C70.9685 34.8075 70.9258 34.7671 70.8831 34.7185C70.8746 34.7104 70.8575 34.6942 70.849 34.6861C69.2183 33.003 66.8704 31.943 64.2664 31.943C64.1383 31.943 63.9932 31.943 63.8651 31.9511C63.8395 31.9511 63.8054 31.9511 63.7712 31.9511C63.6432 31.9511 63.5151 31.9672 63.387 31.9753C63.3614 31.9753 63.3358 31.9753 63.3017 31.9834C63.1992 31.9915 63.0968 32.0077 62.9858 32.0239C62.9516 32.0239 62.9089 32.032 62.8833 32.0401C62.7638 32.0563 62.6528 32.0805 62.5333 32.0967C62.4906 32.1048 62.4479 32.1129 62.3967 32.121C62.3113 32.1372 62.2259 32.1614 62.132 32.1776C62.0808 32.1938 62.021 32.2019 61.9698 32.2181C61.8759 32.2424 61.7905 32.2666 61.6966 32.2909C61.6453 32.3071 61.5856 32.3233 61.5343 32.3395C61.466 32.3557 61.3977 32.3799 61.3294 32.4042C61.2355 32.4366 61.1587 32.4608 61.0733 32.4932C61.0221 32.5094 60.9709 32.5337 60.9196 32.5499C60.8513 32.5741 60.783 32.5984 60.7233 32.6308C60.6977 32.6389 60.6635 32.6551 60.6464 32.6632C60.5184 32.7198 60.3903 32.7764 60.2622 32.8331C60.2366 32.8493 60.211 32.8574 60.1854 32.8735C59.9549 32.9868 59.7329 33.1082 59.5195 33.2377C58.4437 33.885 57.5216 34.7347 56.8301 35.7462C54.4651 38.3275 51.2379 39.9135 47.6947 39.9135C44.1516 39.9135 40.8817 38.3032 38.5082 35.6976C37.5121 34.8183 36.6641 34.0145 35.964 33.2862C33.2404 31.0367 31.5585 27.986 31.5585 24.6117C31.5585 21.2373 33.3258 18.0167 36.1945 15.7591C38.4826 14.2297 39.9852 11.6969 39.9852 8.84044C39.9852 4.16329 35.9896 0.368164 31.0548 0.368164C26.12 0.368164 22.1158 4.16329 22.1158 8.84044C22.1158 11.6969 23.6185 14.2216 25.898 15.7591C28.7667 18.0167 30.534 21.1564 30.534 24.6117C30.534 28.0669 28.8521 31.0367 26.1285 33.2862C23.7124 34.7994 22.1073 37.405 22.1073 40.3586V40.3991C22.1073 40.5285 22.1073 40.658 22.1158 40.7875C22.1158 40.8198 22.1158 40.8522 22.1158 40.8765C22.1244 40.9979 22.1329 41.1192 22.15 41.2406C22.15 41.2649 22.15 41.2973 22.1585 41.3215C22.167 41.4186 22.1841 41.5238 22.2012 41.6209C22.2012 41.6533 22.2012 41.6857 22.2097 41.718C22.2354 41.8313 22.2524 41.9446 22.278 42.0498C22.2866 42.0903 22.2951 42.1307 22.3037 42.1712C22.3207 42.2521 22.3463 42.3411 22.3634 42.422C22.372 42.4706 22.389 42.5191 22.4061 42.5677C22.4317 42.6567 22.4573 42.7457 22.4829 42.8347C22.5 42.8833 22.5171 42.9399 22.5342 42.9885C22.5512 43.0532 22.5769 43.126 22.6025 43.1908C22.6366 43.2717 22.6622 43.3526 22.6964 43.4254C22.7135 43.474 22.7391 43.5226 22.7561 43.5711C22.7818 43.6358 22.8074 43.6925 22.8415 43.7572C22.8501 43.7896 22.8671 43.822 22.8842 43.8543C22.9354 43.9676 22.9952 44.0809 23.055 44.1942C23.072 44.2185 23.0806 44.2508 23.0977 44.2751C23.2172 44.4855 23.3452 44.6959 23.4733 44.8982C23.4733 44.8982 23.4733 44.8982 23.4733 44.9144C24.1563 45.934 25.0613 46.7998 26.12 47.4633C28.8435 49.7048 30.5169 52.7636 30.5169 56.1298C30.5169 59.4961 28.7496 62.7086 25.898 64.9662C24.6088 65.824 23.5672 67.0054 22.9013 68.381C22.9013 68.3972 22.8842 68.4053 22.8757 68.4215C22.8159 68.551 22.7647 68.6723 22.7135 68.8018C22.7049 68.8261 22.6878 68.8585 22.6793 68.8908C22.6537 68.9556 22.6281 69.0203 22.6025 69.085C22.5769 69.1417 22.5598 69.1983 22.5342 69.2631C22.5086 69.344 22.4829 69.4168 22.4573 69.4977C22.4317 69.5625 22.4146 69.6272 22.3976 69.6919C22.389 69.7405 22.372 69.789 22.3549 69.8376C22.3293 69.9347 22.3037 70.0399 22.2866 70.1451C22.278 70.1855 22.2695 70.226 22.2524 70.2746C22.2354 70.3878 22.2183 70.493 22.1927 70.6063C22.1927 70.6306 22.1927 70.6549 22.1841 70.6792C22.167 70.7763 22.1585 70.8814 22.1414 70.9866C22.1414 71.019 22.1414 71.0433 22.1244 71.0757C22.1158 71.197 22.1073 71.3184 22.0987 71.4398C22.0987 71.4722 22.0987 71.4964 22.0987 71.5207C22.0987 71.6502 22.0902 71.7797 22.0902 71.9091C22.0902 73.0582 22.3293 74.1506 22.7647 75.1459C22.7647 75.1621 22.7818 75.1864 22.7988 75.2106C22.8159 75.2511 22.8415 75.2916 22.8586 75.332C24.2417 78.3018 27.3836 80.3814 31.0292 80.3814C31.1658 80.3814 31.3024 80.3814 31.439 80.3733C31.4646 80.3733 31.4902 80.3733 31.5158 80.3733C31.6439 80.3652 31.772 80.3571 31.9 80.341C31.9342 80.341 31.9598 80.3409 31.9939 80.3329C32.1049 80.3248 32.2159 80.3086 32.3269 80.2924C32.3525 80.2924 32.3696 80.2924 32.3952 80.2843C32.5147 80.2681 32.6257 80.2438 32.7453 80.2196C32.7879 80.2196 32.8306 80.2034 32.8819 80.1953C32.9928 80.171 33.1038 80.1548 33.2063 80.1225C33.2575 80.1144 33.3087 80.0982 33.36 80.082C33.4283 80.0658 33.4966 80.0496 33.5649 80.0334C33.6502 80.0092 33.7271 79.9849 33.8125 79.9606C33.8808 79.9444 33.9405 79.9202 34.0088 79.904C34.0771 79.8797 34.1454 79.8554 34.2137 79.8311C34.2393 79.8231 34.2735 79.8069 34.2991 79.7988C34.4357 79.7502 34.5723 79.6936 34.7004 79.6369C34.7175 79.6369 34.726 79.6289 34.7431 79.6208C36.1945 78.9896 37.4324 78.0024 38.3374 76.7805C40.728 74.0778 44.0235 72.3946 47.6691 72.3946C51.3147 72.3946 54.4395 73.9807 56.8045 76.562C57.257 77.2094 57.7948 77.8001 58.4181 78.3018C58.6145 78.4636 58.8279 78.6255 59.0413 78.7711C59.0584 78.7792 59.067 78.7873 59.084 78.7954C59.2036 78.8763 59.3316 78.9572 59.4512 79.03C59.4768 79.0462 59.5024 79.0624 59.528 79.0786C59.5963 79.1191 59.6646 79.1595 59.7244 79.1919C59.7585 79.2081 59.7927 79.2243 59.8268 79.2404C59.9378 79.2971 60.0403 79.3537 60.1427 79.4023C60.1939 79.4266 60.2366 79.4508 60.2878 79.467C60.3476 79.4913 60.4074 79.5237 60.4586 79.5479C60.5525 79.5884 60.6464 79.6289 60.7318 79.6693C60.783 79.6855 60.8428 79.7098 60.894 79.734C60.9623 79.7583 61.0306 79.7826 61.0989 79.815C61.1502 79.8312 61.2099 79.8554 61.2697 79.8716C61.3551 79.904 61.449 79.9363 61.5429 79.9606C61.5856 79.9768 61.6368 79.9849 61.6795 80.0011C61.7905 80.0334 61.91 80.0658 62.021 80.0901C62.0466 80.0982 62.0808 80.0982 62.1064 80.1063C62.2088 80.1306 62.3027 80.1467 62.4052 80.171C62.4394 80.171 62.4735 80.1872 62.5162 80.1953C62.6357 80.2196 62.7552 80.2357 62.8833 80.2519C62.9089 80.2519 62.9431 80.26 62.9772 80.2681C63.0882 80.2843 63.1992 80.3005 63.3102 80.3086C63.3358 80.3086 63.3614 80.3086 63.3785 80.3086C63.5066 80.3248 63.6346 80.3329 63.7712 80.3329C63.7968 80.3329 63.831 80.3329 63.8566 80.3329C63.9932 80.3329 64.1298 80.341 64.2749 80.341C69.2097 80.341 73.2139 76.5458 73.2139 71.8687C73.2139 71.7311 73.2139 71.6097 73.1968 71.4883C73.1968 71.456 73.1968 71.4317 73.1968 71.3993C73.1883 71.278 73.1798 71.1566 73.1627 71.0352C73.1627 71.0028 73.1627 70.9786 73.1541 70.9462C73.1541 70.841 73.1285 70.7439 73.1115 70.6387C73.1115 70.6144 73.1115 70.5901 73.1115 70.5578C73.0944 70.4445 73.0688 70.3393 73.0432 70.226C73.0432 70.1855 73.0261 70.1451 73.0176 70.0965C72.9919 69.9994 72.9749 69.8942 72.9492 69.789C72.9322 69.7405 72.9236 69.6919 72.9066 69.6434C72.8895 69.5786 72.8639 69.5139 72.8468 69.4492C72.8212 69.3763 72.7956 69.3035 72.77 69.2226C72.7529 69.1579 72.7273 69.0931 72.7017 69.0284C72.676 68.9637 72.6504 68.8989 72.6248 68.8342C72.6077 68.8018 72.5992 68.7694 72.5821 68.7371C72.5309 68.6157 72.4797 68.4943 72.4199 68.3729C72.4199 68.3568 72.4114 68.3406 72.3943 68.3244C71.7284 66.9488 70.6953 65.7754 69.4061 64.9177C66.5545 62.66 64.7872 59.5284 64.7872 56.0813C64.7872 52.6341 66.4606 49.6643 69.1841 47.4148C69.8671 46.9859 70.4904 46.4761 71.0197 45.8854C71.1905 45.6912 71.3612 45.497 71.5235 45.2866C71.5235 45.2785 71.532 45.2623 71.5405 45.2542C71.6344 45.1409 71.7198 45.0196 71.7967 44.8982C71.8137 44.8739 71.8308 44.8577 71.8479 44.8335C71.8906 44.7687 71.9247 44.704 71.9674 44.6392C71.9845 44.615 72.0016 44.5907 72.0101 44.5664C72.0784 44.4612 72.1382 44.3479 72.1979 44.2427C72.2235 44.2023 72.2406 44.1618 72.2662 44.1214C72.3004 44.0647 72.326 44.0081 72.3601 43.9514C72.4028 43.8705 72.437 43.7815 72.4797 43.7006C72.5053 43.652 72.5309 43.5954 72.548 43.5468C72.5736 43.4821 72.5992 43.4254 72.6248 43.3607C72.6504 43.296 72.6675 43.2312 72.6931 43.1665C72.7187 43.0856 72.7443 43.0128 72.7785 42.9318C72.7956 42.8833 72.8126 42.8347 72.8212 42.7862C72.8468 42.6972 72.8809 42.6001 72.9066 42.503C72.9151 42.4625 72.9322 42.422 72.9407 42.3816C72.9663 42.2926 72.9834 42.2036 73.009 42.1226C73.009 42.0822 73.0261 42.0417 73.0346 42.0013C73.0517 41.888 73.0773 41.7828 73.0944 41.6695C73.0944 41.6371 73.1115 41.6048 73.1115 41.5643C73.1285 41.4672 73.1456 41.3701 73.1541 41.273C73.1541 41.2406 73.1627 41.2163 73.1627 41.184C73.1798 41.0626 73.1798 40.9493 73.1968 40.8279C73.1968 40.7956 73.1968 40.7632 73.1968 40.7308C73.1968 40.6094 73.2054 40.4881 73.2139 40.3667V40.3505C73.2139 40.0592 73.1968 39.7679 73.1627 39.4847C72.9749 37.6963 72.1894 36.078 71.0112 34.7913V34.8561ZM61.9271 62.0127C61.3465 63.3074 57.9571 66.6089 55.4299 68.5833C55.003 68.9313 54.5676 69.255 54.1066 69.5382C53.8504 69.7081 53.6199 69.8457 53.4235 69.9428C51.6819 70.8976 49.7267 71.4398 47.6691 71.4398C46.4226 71.4398 45.2188 71.2456 44.0833 70.8815C43.5796 70.8005 42.8795 70.5011 42.077 70.0318C41.3171 69.6272 40.5999 69.1498 39.934 68.5995C37.9703 67.1268 35.8103 65.1281 34.2223 63.1294C33.5819 62.3768 33.0441 61.5676 32.6172 60.7099C32.4208 60.3295 32.2586 59.9573 32.1391 59.5932C31.7463 58.5008 31.5329 57.3436 31.5329 56.1541C31.5329 54.1392 32.1391 52.2295 33.2063 50.5464C34.2906 48.5396 40.0791 43.1341 42.1196 42.2764C43.8016 41.3863 45.6799 40.8927 47.6606 40.8927C49.4877 40.8927 51.2294 41.3134 52.8174 42.0741C54.4225 42.5596 61.1502 48.135 62.4735 51.1937C63.2931 52.715 63.7542 54.382 63.7542 56.146C63.7542 58.2661 63.0882 60.2567 61.9185 62.0046L61.9271 62.0127Z"
            fill="white"></path>
        </svg>
        <h2>
          Tworzymy dynamiczną przestrzeń rozwoju w dziedzinie nowoczesnych
          rozwiązań laborytoryjnych
        </h2>
      </div>
    </div>
  </section>
  <section class="pt-28 pb-36">
    <div class="container wrapper">
      <div
        class="grid md:grid-cols-3 gap-x-10 gap-y-16 lg:gap-x-14 lg:gap-y-36"
      >
        <div class="max-w-[406px] grid justify-center text-center inView slideUp">
          <div
            class="bg-blue_opacity rounded-[100px] px-10 py-3 flex gap-2 items-center max-w-max mb-5 mx-auto"
          >
            <img src="/assets/icons/lab.svg" />

            <h3>Produktów</h3>
          </div>
          <p class="big text-grey md:px-3">
            Doradzamy oraz dostarczamy najnowocześniejszy sprzęt laboratoryjny,
            oprogramowanie, akcesoria i odczynniki.
          </p>
        </div>
        <div class="max-w-[406px] grid justify-center text-center inView slideUp">
          <div
            class="bg-blue_opacity rounded-[100px] px-10 py-3 flex gap-2 items-center max-w-max mb-5 mx-auto"
          >
            <img src="/assets/icons/delivery.svg" />
            <h3>Dostawców</h3>
          </div>
          <p class="big text-grey md:px-3">
            Doradzamy oraz dostarczamy najnowocześniejszy sprzęt laboratoryjny,
            oprogramowanie, akcesoria i odczynniki.
          </p>
        </div>
        <div class="max-w-[406px] grid justify-center text-center inView slideUp">
          <div
            class="bg-blue_opacity rounded-[100px] px-10 py-3 flex gap-2 items-center max-w-max mb-5 mx-auto"
          >
            <img src="/assets/icons/blood-sample.svg" />
            <h3>Lata na rynku</h3>
          </div>
          <p class="big text-grey md:px-3">
            Doradzamy oraz dostarczamy najnowocześniejszy sprzęt laboratoryjny,
            oprogramowanie, akcesoria i odczynniki.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="md:pt-28 pb-16 md:pb-36">
    <div class="container wrapper">
      <HeaderTextBig h2={header_partners.h2} h3={header_partners.h3} />

        <div class="flex overflow-auto snap-mandatory snap-x hide-scrollbar">
          <img
            src="/assets/images/partner_1.png"
            class="saturate-0 hover:saturate-100 transition-all duration-400 ease-out cursor-pointer snap-center"
          />
          <img
            src="/assets/images/partner_2.png"
            class="saturate-0 hover:saturate-100 transition-all duration-400 ease-out cursor-pointer snap-center"
          />
          <img
            src="/assets/images/partner_1.png"
            class="saturate-0 hover:saturate-100 transition-all duration-400 ease-out cursor-pointer snap-center"
          />
          <img
            src="/assets/images/partner_2.png"
            class="saturate-0 hover:saturate-100 transition-all duration-400 ease-out cursor-pointer snap-center"
          />
        </div>
   
    </div>
  </section>
</Layout>
<script is:inline src="/assets/js/custom-select.min.js"></script>

<link rel="stylesheet" href="/assets/css/modal.css" />
<script is:inline src="/assets/js/main.js"></script>
